*{
	margin:0;
	padding:0;
}

header{
	height:700px;
	 background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("bg.jpg");
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("bg.jpg"); 
    background-repeat: no-repeat;/* The least supported option. */
    background-attachment: fixed;
    background-size:cover;
    color:white;
    margin-top:10px;
    width:auto;
    box-shadow:0px 0px 20px darkblue;
    border-radius:30px 30px 30px 30px;
}
img {
   object-fit: cover;

}
section{
	margin:auto;
	text-align:center;
	width:500px;
	padding-top:20px;
	animation-name:txt-rotate;
	animation-duration:4s;
}
#container1{
	background-color:white;
}
.container .card-deck{
    margin-top:20px;
    font-family: 'Vollkorn', serif;
}

.container .card{
    transition:width 1s,height 1s,transform 1s;
}
#card1:hover{
    transform:rotateY(20deg);
    box-shadow:0px 0px 20px blue;
}
#card2:hover{
    transform:rotateY(20deg);
    box-shadow:0px 0px 20px blue;
}
#card3:hover{
    transform:rotateY(20deg);
    box-shadow:0px 0px 20px blue;
}

.container-fluid{
    
    height:200px;
    width:100%;
    margin-top:50px;
    margin-bottom: 5px;
    color:white;
    font-family: 'Vollkorn', serif;
    text-align:center;
    
}
.fa-envelope
{
    color:white;
}
a.mail{
    color:white;
    position:relative;
    margin-top:10px;
}
a.mail:before{
    content:"";
    position:absolute;
    width:0;
    height:2px;
    bottom:0;
    left:0;
    background-color:#FFF;
    visibility:hidden;
    transition:all 0.3s ease-in-out;
    color:white;
}

a.mail:hover:before{
    visibility:visible;
    width:100%;
    text-decoration:none;
    color:white;
}
@keyframes txt-rotate{
	from{
		opacity:0;
		transform:rotateX(-90deg);
	}
	to{
		opacity:1;
		transform:rotateY(10deg);
	}
}

@media screen and (max-width:500px)
{
	.container{
		width:100%;
	}
}